.body{
    margin-top: 2%;
    color: crimson;
}

.body .comp{
    border-style: solid;
    border-color: silver ;
    border-width: thin;
    margin-top: 5%;
    text-align: center;


}


.col-md-3 input{
    width: 100%;
    margin-bottom: 20%;
    margin-top: 10%;
}

.col-md-3  h4{
    margin-top: 10%;
    text-align: center;
}
.comparison .comparisons{
    margin-left: 5%;
    color:crimson;



}
.gaps{
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 5%;
    text-align: center;

}

