{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>SAPS</title>
<link rel="stylesheet" href="{% static 'bootstrap.css' %}">
<script  src="{% static 'bootstrap.js' %}"></script>
<script src="{% static 'jquery.js'  %}"></script>
<script  src="{% static 'preloader.js' %}"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<script  src="{% static 'TextArea.js' %}"></script>


<link rel="stylesheet" href="{% static 'style.css'  %}">
<link rel="stylesheet" href="{% static 'home.css' %}">

<link rel="stylesheet" href="{% static 'compare.css' %}">
<link rel="stylesheet" href="{% static 'Prediction.css' %}">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">




</head>
<body>
    <div id="preloader">
        <!--preloader.gif-->
        <div id="status"  >
            &nbsp;
        </div>
    </div>
    <nav class="navbar navbar-expand-md " style="width: 100%">
        <a href="{% url 'main:home'  %}" class="navbar-brand" style="color: crimson"><h4 style="margin-top: 4%">SAPS</h4></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span  class="navbar-toggler-icon " ></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            
            <div class="navbar-nav" style="width: 80%">
                {% if request.session.loggedin %}

                 <div class="mobile-container">

                        <!-- Top Navigation Menu -->
                        <div class="topnav">
                        <a href="#home" class="active">Logo</a>
                        <div id="myLinks">
                            <a href="#news">News</a>
                            <a href="#contact">Contact</a>
                            <a href="#about">About</a>
                        </div>
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                            <i class="fa fa-bars"></i>
                        </a>
                        </div>

                        <div style="padding-left:16px">
                        <h3>Horizontal Mobile Navbar</h3>
                        <p>This example demonstrates how a navigation menu on a mobile/smart phone could look like.</p>
                        <p>Click on the hamburger menu (three bars) in the top right corner, to toggle the menu.</p>
                        <p><strong>Note that this example should'nt be used if you have a lot of links, as they will "break" the navbar when there's too many (especially on very small screens).</strong></p>
                        </div>

                        <!-- End smartphone / tablet look -->
                        </div>

                        <script>
                        function myFunction() {
                        var x = document.getElementById("myLinks");
                        if (x.style.display === "block") {
                            x.style.display = "none";
                        } else {
                            x.style.display = "block";
                        }
                        }
                        </script>


                <a href="{% url 'main:compare' %}"  class="nav-item nav-link">Compare Colleges</a>
                <a href="{% url 'main:predictions' %}"   class="nav-item nav-link">Predict Admission Chances</a>
                <a href="{% url 'main:mbaRating' %}"   class="nav-item nav-link">Top Colleges</a>
                <a href="{% url 'main:about' %}"   class="nav-item nav-link">About us</a>
                <a href="{% url 'main:contact' %}"   class="nav-item nav-link">Contact us</a>
                
                 {% else %}
                <a href="{% url 'main:mbaRating' %}"   class="nav-item nav-link">Top Colleges</a>
                <a href="{% url 'main:about' %}"   class="nav-item nav-link">About us</a>
                <a href="{% url 'main:contact' %}"   class="nav-item nav-link">Contact us</a>
                                {% endif %}

            </div>
            <div class="navbar-nav ml-auto" style="width: 15%">
                {% if request.session.loggedin %} 
                 <a href="{{ 'Ask' }}"   class="nav-item nav-link">Ask</a>
                <a href="{% url 'administer:load' %}"  class="nav-item nav-link">Profile</a>
                <a href="{% url 'administer:logout' %}"  class="nav-item nav-link">Logout</a>



              {% else %}
                 <a href="{% url 'administer:regindex' %}"   class="nav-item nav-link">Register</a>
                 <a href="{% url 'administer:index' %}"   class="nav-item nav-link">Login</a>

               {% endif %}

            </div>
</div>
    </nav>