{% load static %}
{% include 'base.html' %}

 {% include 'Carousel.html' %}


<div class="container-fluid">
<div class="row">

    <div class="container-fluid">
<div class="row" >

     <div class="col-md-3 rank1">
                     <h5>Quaid-e-Azam University: <br> Islamabad</h5>
                     <p>#1 University of Pakistan</p>
                 </div>
                 <div class="col-md-3 rank2">
                     <h5>Institute of Business Administration (IBA): Karachi</h5>

                     <p>#1 Business School of Pakistan</p>
                 </div>
                 <div class="col-md-3 rank1">
                     <h5>Aga Khan University:<br>Karachi</h5>
                     <p>#1 Medical University of Pakistan</p>
                 </div>

                 <div class="col-md-3 rank2">
                     <h5>National University of Sciences & Technology (NUST): Islamabad </h5>
                     <p>#1 Engineering University of Pakistan</p>
                 </div>


</div>
</div>





<div>

</div>


    <div class="col-md-3" style="border-style: none">


    </div>
    <div class="col-md-6   " style="margin-left: 2%">

        <br>

        <a class="" href="{% url 'main:home' %}">Medical </a>

        <a href="{% url 'main:eng' %}" class="active">Engineering </a>
        <a href="{% url 'main:mba' %}"  >MBA </a>
        <a href="{% url 'main:arts' %}">Arts </a>
    </div>
</div>




</div>
     <br>
        <br>
     <br>
        <br>
<div class="container">


   <div class="row">

       <div class="col-md-3 " style="text-align: center;border: none">
        <a href="" style="text-decoration: none;color: black"><h5>Engineering Rating</h5>
        <img src="{% static 'rating.png' %}" width="50%" alt="NO image Available">
        <p>Top Ranked BBA Universities of Pakistan</p></a>

    </div>
       <div class="col-md-1"></div>
       <div class="col-md-3" style="text-align: center;border: none">
        <a href="" style="text-decoration: none;color: black"><h5>Engineering Rating</h5>
        <img src="{% static 'rating.png' %}" width="50%" alt="NO image Available">
        <p>Top Ranked BBA Universities of Pakistan</p></a>

    </div>
       <div class="col-md-1"></div>
       <div class="col-md-3" style="text-align: center;border: none">
        <a href="" style="text-decoration: none;color: black"><h5>Engineering Rating</h5>
        <img src="{% static 'rating.png' %}" width="50%" alt="NO image Available">
        <p>Top Ranked BBA Universities of Pakistan</p></a>

    </div>
   </div>

    </div>
</div>





</body>
</html>