

.navbar-nav a{
    margin-right: 5%;
}

.col-md-6 a{
    color:gray;
    margin-right: 10%;
     text-decoration: none;
    font-size: 1.2em;
}

.col-md-6 a:hover{
    color: darkgreen;
    font-size: 2em;
}

.carousel-item .cars{

    width: 100%;
    padding: 0;
    margin: 0;
    height: 100px;
}

.navbar{
    height: 200px;
}




.ask_whole{
    background-color: burlywood;
}