{% include 'base.html' %}
	<body>
		<div class="container-fluid">
            <div class="row">
           <div class="col-md-12 text-center">
			<h1 style="margin-top: 2.5%;margin-bottom: 2.5%;font-size: 2em">Login</h1>
			<div style=";margin-top: 2%">
				<a class="coldzs active " style="text-decoration: none;" href="{% url 'administer:login' %}" class="active">Login</a>
				<a class="coldzs  " style="text-decoration: none;" href="{{ 'register' }}">Register</a>
			</div>
           </div>
            <div class="col-md-12" style="margin-top: 5%"></div>
            <div class="col-md-4" ></div>

            <div class="col-md-8">
			<form action="{% url 'administer:login' %}" method="post">
			    {% csrf_token %}
                <div class="form-group">
				<label class="contlabel for="username">
					Username:
				</label>
				<input type="text" class="form-control mt-0" name="username" 
				
				 placeholder="Username" id="username"  required>
                </div>
                <div class="form-group">
				<label class="contlabel for="password">
					Password:
				</label>
				<input type="password"
				
				 class="form-control mt-0" name="password" placeholder="Password" id="password" required>
                </div>
                
                
				<div class="msg">{{ msg }}</div>
				<input type="submit" class="btn btn-warning" value="Login">

			</form>
        </div>
		</div>
	</body>
</html>